#user-dropdown {
  background-color: lightblue;
  font-size: 18px;
  color: black;
  border: none;
  border-radius: 0;
  height: 60px;
}

#user-dropdown span {
  margin-left: 8px;
}

#user-dropdown:hover {
  background-color: lightgray;
}

#user-dropdown:focus {
  background-color: lightgray;
}

.dropdown-item .dropdown-link {
  color: black;
  text-decoration: none;
}

.dropdown-menu {
  width: 150px;
  font-size: 16px;
  background-color: lightblue;
}
