.profile-image {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
}

.warble-wrapper {
  min-width: 300px;
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 2px;
  margin: 20px;
  padding: 15px;
}

.warble-wrapper span {
  margin-right: 10px;
}

.warble-info span:not(:first-of-type) {
  position: relative;
  bottom: 20px;
}

.warble-info span:nth-of-type(2) {
  font-weight: bold;
}

.warble-handle {
  margin-left: 40px;
  color: gray;
  position: relative;
  bottom: 16px;
}

.warble-time {
  margin-left: 140px;
  color: gray;
}

.warble-message {
  margin-top: -15px;
  overflow-wrap: break-word;
}

.warble-actions {
  font-size: 10px;
}
